# Ignorowanie plików specyficznych dla Android Studio
.idea/
*.iml

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db

# Ignorowanie folderów build (generowane przez Gradle)
build/
captures/
.cxx/

# Ignorowanie plików generowanych przez Gradle
local.properties
secrets.properties

# Ignorowanie plików generowanych przez Android Studio
.gradle/

# Ignorowanie plików tymczasowych
*.log

/build

# Ignorowanie folderu z plikami wynikowymi dla Android NDK
.externalNativeBuild/

.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx

# Default ignored files
/shelf/
/workspace.xml

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
HELP.md
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Visual Studio pliki
.vs/
*.suo
*.user
*.userosscache
*.sln.ide
*.cache

# Build
bin/
obj/
out/
*.pdb
*.exe
*.dll
*.log

# ASP.NET Core
secrets.json
.env

# NuGet
packages/
project.lock.json
project.assets.json
nuget.config

# TypeScript / Frontend
node_modules/
wwwroot/lib/

# Docker
.dockerignore
docker-compose.override.yml
Dockerfile

# OS / System
Thumbs.db
*.DS_Store

# Rider/JetBrains
.idea/
*.iml
