# Ignorowanie plików specyficznych dla Android Studio
.idea/
*.iml

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db

# Ignorowanie folderów build (generowane przez Gradle)
build/
captures/
.cxx/

# Ignorowanie plików generowanych przez Gradle
local.properties

# Ignorowanie plików generowanych przez Android Studio
.gradle/

# Ignorowanie plików tymczasowych
*.log

/build

# Ignorowanie folderu z plikami wynikowymi dla Android NDK
.externalNativeBuild/

.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx

# Default ignored files
/shelf/
/workspace.xml
